.bodyContainer {
  width: 100%;
  height: auto;
  background-color: #ebeef2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.newRequestContainer {
  width: 100%;
  height: 100%;
  background-color: #ebeef2;
  margin-top: 54px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newRequestContent{
  width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 4px #becdd8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 20px;
}

.title{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12pt;
  font-weight: bold;
  border-bottom: solid 1px #becdd8;
  margin-top: 10px;
  color: #1f3a62;
}

@media screen and (max-width: 768px) {

  .newRequestContainer {
    padding: 0;
  }

  .newRequestContent {
    width: 100%;
  }

}

@media screen and (min-height: 1300px) {
  .newRequestContainer {
    padding: 0;
  }

  .newRequestContent {
    width: 100%;
  }
}
