
.queryRequestFormContainer {
  font-weight: normal;
  padding-bottom: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 4px #becdd8;
  margin: 10px 0;
  background-color: white;
}

.label{
  font-weight: bold;
  color: #54698d;
  margin-right: 5px;
}

.button {
  height: 30px;
  width: 120px;
  font-size: 12px;
}

.input{
  border-color: #e6e7ec;
}

.buttonContainer {
  margin-top:0;
  margin-left: -100px;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.formItemButton {
  margin-bottom: 12px;
  width: 100%;
}

.formItems{
  width: 50%;
  margin-left: -50px;
  margin-bottom: 0
}

@media screen and (max-width: 768px) {
  .queryRequestFormContainer {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  .buttonContainer {
    justify-content: space-between;
    margin-left: 0;
  }

  .formItems{
    width: 100%;
    margin-left: 0;
  }
}
