
.updateUserPwdModalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1200;
  transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease; /* Safari */
  display: flex;
  align-items: center;
  justify-content: center;
}

.updateUserPwdFormContainer {
  height: auto;
  width: 450px;
  background-color: white;
  padding: 13px 40px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 12pt;
  font-weight: bold;
}

.iconContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: solid rgb(30, 111, 212) 1px;
  margin: 10px 0;
  padding-bottom: 9px;
}

.closeIcon {
  font-size: 18px;
}

.updateUserPwdFormContent {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
